:root {
  --blue: #0a0c19;
  --dark-violet: #1b1938;
  --violet: #aa5cdb;
  --white: #fff;
  --off-white: #dcdcdc;
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Lexend Deca", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* body{
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  background-color: var(--dark-violet);
  height: 70vh;
  width: 70%;
  display: flex;
}
.text_Scontainer {
  color: var(--white);
  width: 50%;
  font-family: var(--primary-font);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.image_container {
  background-color: green;
  height: 100%;
  width: 50%;
}
.image_container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}
.stat{
  display: flex;
  gap: 15px;
}
.intro h1{
  padding-bottom: 15px;
  
} */
body {
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: var(--dark-violet);
  height: 70vh;
  width: 700vh;
  display: flex;
}
.text_container{
  color: var(--white);
  width: 50%;
  font-family: var(--primary-font);
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.image_container{
  height: 100%;
  width: 50%;
}
.image_container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}
.stat {
  display: flex;
  gap: 15px;
}
.intro> h1 {
  margin-bottom: 15px;
}
